
html, body {
  height: auto;
}

/* Set background color of registration form */
body {
  font-family: 'Rufina', serif;
  background-image: url("../assets/images/form-background.jpg");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}

i {
  color: white;
  font-size: 40px;
  margin-left: 30px;
}

/* Style submit button */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.logo-img {
  width: 35%;
}

.btn-secondary {
  width: 35%;
}

.form-container {
  width: 50%;
}

.login-btn {
  width: 80%;
}

.forgot-password a{
  font-size: 16px;
  color: #C8C8C8;
  text-decoration: underline;
}

.sign-up {
  font-size: 18px;
  margin-bottom: 50px;
}

.sign-up a {
  color: #C8C8C8;
  text-decoration: underline;
  margin-left: 15px;
}